* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #06283D;
    border-bottom: #DFF6FF 4px outset;
}

header span {
    width: 30%;
    padding-left: 0.2vw;
}

header span a {
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    font-size: 2vw;
    color: #DFF6FF;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    padding: 1vw 1vw;
    text-decoration: none;
    color: #DFF6FF;

    text-align: center;
    border: none;
    border-radius: 30px;
}

.links:hover {
    background-color: #DFF6FF;
    color: #06283D;
    transition: 0.6s ease-in-out;
}

#button {
    color: #06283D;
}

nav button {
    color: #06283D;
    padding: 1vw 1vw;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: #DFF6FF;
    border: none;
    border-radius: 30px;
}

nav button:hover {
    background-color: #88defb;
    transition: 0.6s ease-in-out;
}

footer {
    text-align: center;
    background-color: #06283D;
    padding: 0.5vw;
    font-size: 1.2vw;
    color: #DFF6FF;
    font-family: 'Roboto', sans-serif;
}

#heart {
    color: red;
}
