* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vw;
    width: 100%;
    background-color: #DFF6FF;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 4px #06283D solid;
}

#s2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vw;
    padding: 30px;
    width: 100%;
    flex-direction: column;
    background-color: #256D85;
    font-family: 'Roboto', sans-serif;
    border-bottom: 5px #DFF6FF outset;
}

#s1d1 {
    width: 50%;
    color: #06283D;
    text-align: center;
    font-size: 3.2vw;
}

#name {
    font-family: 'Great Vibes', cursive;
}

#s1d2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2vw;
    width: 50%;
    height: 100%;
}

#s1d1 div {
    font-size: 2vw;
}

#s1d2 img {
    max-width: 100%;
    border: #06283D 4px solid;
    border-radius: 30px;
}

#s2d1 {
    font-size: 2.5vw;
    color: #DFF6FF;
}

#s2d2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#s2d3 {
    color: #DFF6FF;
    font-size: 2.5vw;
}


.s2d2d1 {
    border: 5px #06283D solid;
    font-size: 2.5vw;
    width: 30%;
    background-color: #DFF6FF;
    text-align: center;
    border-radius: 30px;
    padding: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.s2d2d1 img {
    max-width: 100%;
    padding: 1.2vw;
    border-radius: 30px;
}

#mustali-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#mustali-div button {
    background-color: #256D85;
    color: #DFF6FF;
    font-size: 1.5vw;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#mustali-div button:hover {
    background-color: #06283D;
}